
 <p>User Details : </p>
    <div class="card border-info mb-3" style="width: 25rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-success">User Id     : {{b.id}}</li>
          <li class="list-group-item text-success">User Name   : {{b.name}}</li>
          <li class="list-group-item text-success">ToDo Id     : {{ToDoId}}</li>
          <li class="list-group-item text-success">ToDo Title  : {{Title}}</li>
          <li class="list-group-item text-success">Email       : {{b.email}}</li>
        </ul>
    </div>
