.badge
{
    font-size: 17px;
}

.p-3 
{
     padding: 0.5rem!important; 
}

.mb-2
{
    margin-top: .5rem!important;
}

div.viewdetails
{
    height: 300px;
    position: relative
}

.deetsBox
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}