<!-- <label>Filter title</label>
    <input [(ngModel)]='searchText'> -->
<!-- <div *ngFor="let c of a | filter: searchText : 'title' | sortbyPipe: ['title','desc'] ">
      {{c.title}} 
    </div>  -->
<!-- <button class="btn btn-success" (click) = "onTitleFilter()">Search</button> &nbsp;&nbsp;
    <button class="btn btn-success" (click) = "onTitleFilterClear()">Clear</button> -->

<div class="badge p-3 mb-2 bg-warning bg-gradient text-white" style="width: 12rem;">
  Search According To
</div>
&nbsp;&nbsp;
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]='selectedRadioValue'
    id="inlineRadio1" value="title">
  <label class="form-check-label" for="inlineRadio1">Title</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]='selectedRadioValue'
    id="inlineRadio2" value="userId">
  <label class="form-check-label" for="inlineRadio2">User Id</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]='selectedRadioValue'
    id="inlineRadio2" value="id">
  <label class="form-check-label" for="inlineRadio2">ToDo Id</label>
</div>

<div class="input-group mb-3">
  <input [(ngModel)]='searchText' type="text" class="form-control col-md-3" placeholder="Search Title">
</div>
<button class="btn btn-success" (click)="onTitleFilter()">Search</button> &nbsp;&nbsp;
<button class="btn btn-success" (click)="onTitleFilterClear()">Clear</button>
<button class="btn btn-success float-right" (click)="ToDoSort()">Sort</button>

<hr>

<div class="viewdetails">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">ToDo ID</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lists of a | filter: titleSearch : selectedRadioValue">
        <td>{{lists.id}}</td>
        <td>{{lists.title}}</td>
        <td>{{lists.completed}}</td>
        <td>
          <button (click)="showDetails(lists.userId, lists.id, lists.title)" class="btn btn-success">View User</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="showView" class="card border-info mb-3 deetsBox" style="width: 25rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-success">User Id : {{bb.id}}</li>
      <li class="list-group-item text-success">User Name  : {{bb.name}}</li>
      <li class="list-group-item text-success">ToDo Id : {{Todoid}}</li>
      <li class="list-group-item text-success">ToDo Title : {{Title}} </li>
      <li class="list-group-item text-success">Email : {{bb.email}}</li>
    </ul>
  </div>
</div>
<!-- | sortbyPipe: ['title','desc'] -->

<!-- {"userId":10,"id":200,"title":"ipsam aperiam voluptates qui","completed":false} -->