<div class="container-fluid" style="margin-top: 0px; font-family: Arial, Helvetica, sans-serif;">
  <div class="viewContainer">
    <app-app-nav></app-app-nav>

     <router-outlet></router-outlet>
 </div>
</div>