.btn-secondary {
    /* color: black; */
    color: #fff;
    background-color: darkblue;
    border-color: lightskyblue;
}

.btn{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.badge
{
    font-size: 17px;
    margin-left: 0px;
    position: relative;
    left: -40px;
    background-color: darkgoldenrod;
}

.bg-warning {
    background-color: blue !important;
}

.btn {
    position: relative;
    right: -450px;
    padding: 10px;
    font-weight: bolder;
}

.p-3 
{
     padding: 0.5rem!important; 
}

.mb-2
{
    margin-top: .5rem!important;
}