
<nav class="container mb-4 mt-4">

    <div class="row">
        <div class="float-left col-md-3 badge p-3 mb-2 bg-warning bg-gradient text-white" style="width: 12rem;">
            Select Language
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <select class=" float-right custom-select btn btn-secondary dropdown-toggle" type="button" (change)= "changeLang($event.target.value)">
                <option class="dropdown-item" value="en" [selected]="lang == 'en-US'" >English</option>
                <option class="dropdown-item" value="la" [selected]="lang == 'la'">Latin</option>
            </select>
        </div>
    </div>
</nav>
